/* input{
    display: none;
}
 */
form.harvesthub_dashboard{
    background-color: rgb(7, 112, 12);
    width: 100%;
    min-height: 12rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
form.harvesthub_dashboard h3{
    font-size: 1.5rem;
    padding: 1rem;
    color: white;
}
form.harvesthub_dashboard input{
    padding: .5rem;
    border-radius: 20px;
}
form .search-product{
    position: relative;
    left: 70px;
    top: 33px;
    font-size: 1.4rem;
    color: gray;
}
form .search-product:hover{
    color: black;
}

