.produce-none{
    display: flex;
    justify-content: center;
    padding: 3rem;
    margin: .5rem 2rem;
    column-gap: 10px;
    background-color: aqua;
}
.produce-none div h3{
    margin: .5rem;
}
.search-produce{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    margin: 1.5rem ;
}
.produce-card{
    width: 100%;
    background-color: aqua;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgb(30, 255, 0);
}
.produceImages{
    width: 93%;
    height: 300px;
    margin: .8rem;
    border-radius: 10px;
}
.produce-card  article{
    display: flex;
    justify-content: space-between;
    margin: .5rem;
    padding: .1rem;
}
.produce-card main{
    margin: 0 .5rem;
}
.produce-card main p{
    margin: .5rem 0;
}
.produce-card main ul{
   display: flex;
   justify-content: space-between;
}
.produce-card main ul li i{
    margin: 0 10px;
}
.produce-card button{
    width: 100%;
    font-size: medium;
    padding: .5rem;
    background-color: blue;
    border: transparent;
    border-radius: 0 0 10px 10px;
}
.produce-card button:hover{
    background-color: lawngreen;
}
.farmer-info{
    background-color: aqua;
    border-radius: 30px;
    min-height: 21rem;
}
.farmer-info main h3{
    text-align: center;
    padding: 1rem;
}
.farmer-info main h2{
    text-align: center;
}
.farmer-info main ul li{
    padding:.5rem;
    margin: .5rem;
}
.farmer-info main a{
    padding: .5rem;
    background-color: greenyellow;
    text-decoration: none;
    margin:1rem;
}
.farmer-info main img{
    width: 95%;
    margin: 0 .4rem;
    border-radius: 30px;
    position: relative;
}
.other-produce-h2{
    margin: .5rem;
    padding: .5rem
}
.other-produce{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.other-produce main .image-slider{
    width: 100%;
    height: 250px;
}