*{
    transition: all 0.4s ease-in-out;
}
:root{
    --primary-color: #1eff00;
    --secondary-color: white;
    --accent-color: gold;
}
.main-header{
    position: relative;
    width: 100%;
    min-height: 85vh;
    height: auto;
    padding : 2.1rem 2.75rem;
}

.main-header span{
    font-family: Inter;
    font-size: clamp(1rem, 2.5vw, 2rem); 
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    
}

.main-header .row-1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.45rem;
}
.main-header .row-1 span{
    font-size: 2.5rem;
    line-height: 150%;
    font-weight: 500;
}
.main-header .row-1 .btn{
    width: 10%;
    padding : 1.75rem;
    margin: 0;
    border: 1px solid transparent;
    border-radius: 60px;
}

.main-header .row-2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1vh;
}
.main-header .row-2 span{
    letter-spacing: 5px;
    font-weight: 1.3rem;
    font-weight: bold;
    margin:.5rem 0;
}
.main-header .row-3{
    position: relative;
    width: 100%;
    height: calc(100% - 25vh);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap : 2.5rem;
    margin-top: 7vh;
}

.main-header .row-3 .col{
    height: 80vh;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    border-radius: 10px;
}

.main-header .row-3 .col .card-header{
    width: 100%;
    height: 50%;
    border-radius: 10px;
}

.main-header .row-3 .col-1{
    padding: 0 0.5rem 0.5rem 0.5rem;
    background: #f5c4c4;
}

.main-header .row-3 .col-1 .card-header{
    border-radius: 5px;
    width: 100%;
    margin: 0;
    background: var(--primary-color);    
}
.main-header .row-3 .col-1 .card-header h2{
    font-size: 1.2rem;
    line-height: 150%;
    margin: .5rem;
    padding: .2rem;
    color: var(--secondary-color);
}
.main-header .row-3 .col-1 .card-header p{
    margin: 1rem;
    padding: .2rem;
    line-height: 150%;
    color: var(--secondary-color);
}
.main-header .row-3 .col-1 .card-header p b{
    color: var(--accent-color);
}
.main-header .row-3 .col-1 .card-header.card-header-link{
    color: white;
}
.main-header .row-3 .col-2{
    
}

.main-header .row-3 .col-2 .card-header:nth-child(1){
    background: #fff;
    font-family: 'Candara';
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    opacity: 0;
}

.main-header .row-3 .col-2 .card-header:nth-child(2){
    background: #D9D9D9;
}

.main-header .row-3 .col-3{
    position: relative;
    background: #D9D9D9;
}

.main-header .row-3 .col-3::before{
    content: url('../../../assets/arrow.svg');
    position: absolute;
    left: calc(50% - 6px);
    top: -12vh;
    background: var(--primary-color);
    padding : 20px;
    border: 1px solid transparent;
    border-radius: 50%;
}

.main-header .row-3 .col-3 .card-header{
    border-radius: 5px;
    width:100%;
    margin: 0;
    background: rgb(221, 189, 10, 0.7);
    filter: blur(10px);
}
.col-3 .card-header h2{
    font-size: 1.3rem;
    margin: .5rem;
    text-align: center;
}
/**         ABOUT           **/
.about{
    position: relative;
    width: 100%;
    padding : 2.1rem 2.75rem;
}

.about .about-header{
    font-family: Inter;
    padding : 1.5rem 0;
    margin: 0 2rem;
    position: relative;
}
.about-header .about-header-icon{
    position: absolute;
    left: 110px;
    transform: rotate(10deg);
    top: -1px;

}
.about-header .title{
    font-size: 18px;
    margin: .5rem;
    font-weight: 600;
    color: rgb(187, 161, 11);
}

.about-header .sub-title{
    font-size: 26px;
    width: 30ch;
    line-height: 150%;
    font-weight: 600;
}

.about .about-contain{

}

.about-contain .big-card{
    width: 90%;
    height: 50vh;
    border-radius: 47px;
    background: #A39F9F;
    margin : 0 auto;
    padding : 1.2rem;
    margin-bottom: 10vh;
}

.about-contain .sml-card-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 1.5rem;
}

.about-contain .sml-card-container .sml-card{
    border-radius: 47px;    
    background: #D9D9D9;
    min-height: 35vh;
    padding:2rem 1rem;
}
.sml-card h2{
    padding:1rem;
    font-size: 2rem;
}
.sml-card h5{
    font-size: .9rem;
    padding: .6rem;
}
.sml-card p{
    font-size: .9rem;
}
#sml-card-2{
    background-color: green;
    color: white;
}

/**         WHY CHOOSE US           **/
.why-choose-us{
    position: relative;
    width: 100%;
    padding : 2.1rem 2.75rem;
}

.why-choose-us .wcu-header{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 1.2rem;
    place-items: center;
    font-family: Inter;
    padding : 1.5rem 0;
    position: relative;
}
.wcu-header #wcu-header-icon{
    position: relative;
    left: 110px;
    top: 70px;
}
.wcu-header .title{
    font-size: 18px;
    font-weight: 600;
    color: rgb(199, 171, 14);
}

.wcu-header .sub-title{
    font-size: clamp(1rem, 2rem, 2.3rem);
}

.wcu-contain{
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 1.5rem;
}

.wcu-contain .row{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-template-rows: auto;
    grid-gap: 1.5rem;
}

.wcu-contain .row .col{
    height: 50vh;
    border-radius: 30px;
    background: #C7F6B6; /*fixing the background ash*/
}

.wcu-contain .row-1 .col-2{
    position: relative;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.wcu-contain .row-1 .col-2 .text{
    font-size: 16px;
    font-weight: 400;
    margin-top: 1rem;
    line-height: 150%;
}

.wcu-contain .row-1 .col-2 .wcu-sml-cards{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(150px, 1fr);
    grid-gap: 0.75rem;
}
#wcu-sml-card-first{
    background-color: rgb(6, 163, 6);
    padding: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}
#wcu-sml-card-first h1{
    margin: .3rem;
}
#wcu-sml-card-second{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: goldenrod;
    color: white;
}
.wcu-contain .row-1 .col-2 .wcu-sml-cards .wcu-sml-card{
    grid-row: 1/2;
    border-radius: 30px;
    background: #C7F6B6; /*changed color here as well*/
    /* seen the change */
}

.wcu-contain .row-2 .col-1{
    overflow: hidden;
    border-radius: 47px;
    padding : 1.75rem;
    
}

.wcu-contain .row-2 .col-1:hover {
    background-color: #46973B; /* hover icon */
    
}

.wcu-contain .row-2 .col-1 .card-header{
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100px;
}

.wcu-contain .row-2 .col-1 .card-header .arrow{
    background: #46973B;
    padding : 20px;
    border: 1px solid transparent;
    border-radius: 50%;
}

.wcu-contain .row-2 .col-1 .card-header .arrow svg{
    width: 24px; height: 24px;
}

.wcu-contain .row-2 .col-1 .card-header:hover {
    /* hover icon */
}

.wcu-contain .row-2 .col-1 .card-header:hover .arrow {
    background: #46973B;
    border: 1px solid #111; 
}
.wcu-contain .row-2 .col-1 .card-header:hover::before {
    background: #46973B; 
}

.wcu-contain .row-2 .col-1 .card-header::before{
    content: '';
    position: absolute;
    left: -50px;
    top: -30px;
    width: 100px;
    height: 100px;
    border: 1px solid transparent;
    border-radius: 50%;
    background: #46973B;
    z-index: 1999;
}

.wcu-contain .row-2 .col-1 .card-contain{
    display: flex;
    gap: 0.75rem;
    flex-direction: column;
}

.wcu-contain .row-2 .col-1 .card-contain .title{
    font-family: Inter;
    font-size: clamp(1rem, 1.2rem, 1.5rem);
}

.wcu-contain .row-2 .col-1 .card-contain .text{
    font-size: clamp(0.75rem, 1rem, 1.2rem);
    font-weight: 500;
    color: #555;
}   

.wcu-contain .row-2 .col-1 .card-contain .text:hover{
    color: #ddd;
}


/**         EMPOWER         **/
.empower{
    position: relative;
    width: 100%;
    padding : 2.1rem 2.75rem;
}

.empower .empower-container{
    position: relative;
    width: 100%;
    min-height: 65vh;
    height: auto;
    background: green;
    border: 1px solid transparent;
    border-radius: 20px;
    padding : 2.1rem 2.75rem;
}

.empower .empower-header{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 12px;
    margin-bottom: 0.75rem;
}

.empower .empower-header .left{
    font-size: clamp(1.5rem, 1.8rem, 2.1rem);
    font-family: Inter;
    text-align: center;
    color: white;
}

.empower .empower-header .right{
    width: 50ch;
    text-align: left;
    line-height: 150%;
    margin: .5rem;
}

.empower .empower-header .right p{
    font-size: clamp(1rem, 1.1rem, 1.5rem);
    font-weight: 500;
    padding: .5rem;
}

.empower .empower-header .right .empower-header-btn{
    cursor: pointer;
    border-color: transparent;
    border-radius: 30px;
    background: #D9D9D9;
    padding : 1.2rem 3.75rem;
    outline: 0;
    font-size: 1rem;
    background-color: #1eff00;
}

.empower .empower-cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30vw, 1fr));
    grid-template-rows: auto;
    grid-gap : 2.5rem;
}

.empower .empower-cards .main-card{
    height: 50vh;
    border: 1px solid transparent;
    border-radius: 30px;
    background: #D9D9D9;
    position: relative;
}
.main-card::after{
    content: '';
    width: 60px;
    height: 60px;
    border-radius:0px 19px 0px 0;
    display: block;
    background-color: green;
    position: absolute;
    bottom: -1px;
    left: -1px;
    background-position: '';
}
.empower .empower-cards .sml-card-contain{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.empower .empower-cards .sml-card-contain h4{
    font-family: Inter;
    font-size: 20px;
    text-align: center;
    color: white;
}

.empower .empower-cards .sml-card-container{
    overflow-x: auto;
    display: grid;
    grid-auto-columns: minmax(70%, auto);
    grid-template-rows: minmax(150px, 1fr);
    grid-gap : 1.5rem;
    padding-bottom: 0.5rem;
}

.empower .empower-cards .sml-card-container::-webkit-scrollbar {
    height: 5px;
}
.empower .empower-cards .sml-card-container::-webkit-scrollbar-track {
    background: #f1f1f1;
}
.empower .empower-cards .sml-card-container::-webkit-scrollbar-thumb {
    background: #888;
}
.empower .empower-cards .sml-card-container::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.empower .empower-cards .sml-card-container .sml-card{
    overflow: hidden;
    position: relative;
    border-radius: 30px;
    background: #C7F6B6;;
    grid-row: 1/5;
    padding: 1.75rem;
}

.empower .empower-cards .sml-card-container .sml-card .sml-card-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.empower .empower-cards .sml-card-container .sml-card .sml-card-header .circle{
    width: 60px;
    height: 60px;
    border: 1px solid transparent;
    border-radius: 50%;
    background: #787070;;
}

.empower .empower-cards .sml-card-container .sml-card .sml-card-header .texts{
    font-family: Inter;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 1.2rem;
}

.empower .empower-cards .sml-card-container .sml-card .sml-card-header .texts .title{
    font-size: clamp(0.9rem, 1.1rem, 1.65rem);
    font-weight: 600;
    text-align: center;
}

.empower .empower-cards .sml-card-container .sml-card .sml-card-header .texts .sub-title{
    font-size: clamp(0.6rem, 0.85rem, 1.1rem);
    font-weight: 500;
    text-align: center;
}

.empower .empower-cards .sml-card-container .sml-card .sml-card-footer{
    color : #fff;
}

.empower .empower-cards .sml-card-container .sml-card .sml-card-footer svg{
    position: absolute;
    left:0;
    top : 50%;
    bottom: -50%;
    
}

.empower .empower-cards .sml-card-container .sml-card .sml-card-footer span{
    font-size: 1rem;
}

.empower .empower-cards .sml-card-container .sml-card .sml-card-footer p{
    position: absolute;
    bottom: 1rem;
    left: 0;
    right: 0;
    z-index: 1999;
    font-size: .8rem;
    font-weight: 600;
    font-family: 'Inter';
    text-align: center;
    color: #111;
}


/**             FAQ             **/
/* .faq {
    position: relative;
    width: 100%;
    padding: 2.1rem 2.75rem;
  }
  
  .faq h1 {
    text-align: center;
  }
  
  .faq .faq-item {
    margin-bottom: 20px;
  }
  
  .faq .faq-question {
    cursor: pointer;
    width: 100%;
    border-color: transparent;
    border-radius: 63px;
    background: #D9D9D9;
    text-align: center;
    padding: 1.2rem 0.75rem;
    margin: 0.75rem 0;
    outline: 0;
    font-family: 'Candara';
    font-size: 20px;
    font-weight: 600;
  }
  
  .faq .faq-answer {
    display: none;
    padding: 10px;
    border-top: 1px solid #ddd;
  }
  
  .faq .faq-item.open .faq-answer {
    display: block;
  } */
  .faq{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
    margin: 0 4rem;
  }
  .faq h1{
    text-align: center;
    font-size: 1.3rem;
    color: rgb(219, 189, 15);
  }
  .faq .faq-item{
    background-color: #1eff00;
    border-radius: 10px;
    padding: 1rem;
    width: 100%;
    height: 100px;
    
  }
  .faq .faq-item div:first-child {
    text-align: center;
  }
  .faq .faq-item div:first-child{
  
  }
  .faq .faq-item div:first-child h2{
    font-size: 1.3rem;
  }
  .faq-item .faq-answer{
    text-align: center;
    line-height: 150%;
    opacity: 0;
    transition: opacity 2s;
  }
  #question:checked {

  }