@media screen and (max-width: 905px) {
    .about-join-us .card-join-us{
        border-radius: 44px;
    }
    .about-join-us .card-join-us .text{
        width: 55%;
    }
}

@media screen and (max-width: 805px) {
    .about-join-us .card-join-us{
        border-radius: 34px;
    }
    .about-join-us .card-join-us .text{
        width: 65%;
    }
}


@media screen and (max-width: 624px) {
    .about-join-us .card-join-us{
        border-radius: 24px;
    }
    .about-join-us .card-join-us .text{
        width: 75%;
    }
}