@media screen and (max-width: 1200px){
    .empower .empower-cards .sml-card-container .sml-card:not(:nth-child(1)){
        display: none;
    }
}

@media screen and (max-width: 905px) {
    .main-header{
       
    }    
    .main-header .row-3 .col-3::before{
        display: none;
    }

    .empower .empower-cards .sml-card-container .sml-card:not(:nth-child(1)){
        display: none;
    }
}

@media screen and (max-width: 805px) {
    .empower .empower-cards{
        grid-template-columns: repeat(1, 1fr);
    }
}


@media screen and (max-width: 624px) {
    .main-header{
        
    }    
    .main-header .row-3 .col-2 .card-header:nth-child(1){
        opacity: 1;
    }
    .main-header .row-3 .col-3::before{
        display: none;
    }
    .main-header .row-3 .col{
        border-radius: 12px;
    }
    .main-header .row-3 .col-1 .card-header, .main-header .row-3 .col-3 .card-header{
        border-radius: 0;
        border-bottom-right-radius: 12px;
        border-bottom-left-radius: 12px;
    }

    .empower .empower-cards .sml-card-container .sml-card:not(:nth-child(1)){
        display: none;
    }
}