*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.dashboard_active-userinfo{
   display: flex;
   width: 100%;
   justify-content: space-evenly;
   margin: 1rem 0 ;
}
.dashboard_active-userinfo div{
    width: 300px;
    height: 100%;
    background-color: aqua;
    border-radius: 20px;
    padding: 2rem;
    display: inline-flex;
    flex-direction: column-reverse;
}
.dashboard_active-userinfo div h3{
    font-size: 1rem;
    padding: .5rem;
}
[progress='bar']{
    width: 200px;
    height: 10px;
    background-color: white;
    border-radius: 10px;
    position: relative;
    top: 20px;
    margin: .5rem .2rem;
}
[progress='bar'] span{
    display: block;
    height: 100%;
    width: 30px;
    background-color: green;
    border-radius: 10px;
}
.dashboard_active-userinfo div h1{
    margin-left: 1rem;
}
.dashboard_active-userinfo div:first-child{
    background-color: lime;
}
.dashboard_active-userinfo div:nth-child(2){
    background-color: green;
}
.dashboard_active-userinfo div:nth-child(2) h1,
.dashboard_active-userinfo div:nth-child(2) h3{
    color: white;
}
.dashboard_active-userinfo div:last-child{
    background-color: white;
}
.line-graph{
    width: 98%;
    min-height: 200px;
    background-color: white;
    margin: 2rem 0;
    border-radius: 10px;
}
.active_user-info{
    width: 98%;
    display: flex;
    flex-direction: column;

}
.active-user-data{
    display: flex;
    width: 100%;
    column-gap: 20px;
    justify-content: space-between;
    min-height: 200px;
    background-color: rgb(12, 221, 57);
    border-radius: 10px;
    margin: 1rem 0;
}
.active-user-data main{
    width: 100%;
}
/* align the text  */
th, td {
    padding: 8px;
    text-align: left;
  }
  .active-user-data main h3{
    font-size: 1rem;
    padding: .5rem;
    margin: .2rem;
  }
.active-user_table{
    width: 100%;
    margin: 0 1rem;
}
[table='header']{
    color: white;
}
.user-full-data{
    width: 40%;
    background-color: white;
    border-radius: 20px;
    margin: .5rem;
    min-height: 200px;
}
.user-full-data a{
    position: relative;
    left: 20px;
    top: 20px;
    font-size: 1.2rem;
}
.user-full-data article{
   display: flex;
   align-items: center;
   margin: 1rem;
   width: -10%;
}
.user-full-data article figure{
    margin: .2rem;
    padding: .2rem;
    position: relative;
    
}
.user-full-data article figure img{
    border-radius: 50%;
    width: 100px;
    height: auto;
    float: right;
}
.user-full-data article main p{
    padding: .2rem 0;
    margin: .2rem 0;
}
.cc{
    display: flex;

}
.consumer{
    background-color: green;
}