.main-header{
    position: relative;
    width: 100%;
    padding : 2.1rem 2.75rem;
}

.main-header span{
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.main-header .row-1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.45rem;
}

.main-header .row-1 .btn{
    width: 10%;
    padding : 1.75rem;
    margin: 0;
    border: 1px solid transparent;
    border-radius: 60px;
}

.main-header .row-2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7vh;
}

.main-header .row-3{
    position: relative;
    width: 100%;
    height: calc(100% - 25vh);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap : 1rem;
    margin-top: 7vh;
}

.main-header .row-3 .col{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    border-radius: 47px;
}

.main-header .row-3 .col .card-header{
    width: 100%;
    height: 50%;
    border-radius: 47px;
}

.main-header .row-3 .col-1{
    padding: 0 0.5rem 0.5rem 0.5rem;
    background: #BD2727;
}

.main-header .row-3 .col-1 .card-header{
    background: rgba(250, 244, 244, 0.54);
    filter: blur(10px);
}

.main-header .row-3 .col-2{
    
}

.main-header .row-3 .col-2 .card-header{
    background: #D9D9D9;
}

.main-header .row-3 .col-3{
    position: relative;
    background: #D9D9D9;
}

.main-header .row-3 .col-3::before{
    content: url('../../../assets/arrow.svg');
    position: absolute;
    left: calc(50% - 6px);
    top: -12vh;
    background: #D9D9D9;
    padding : 20px;
    border: 1px solid transparent;
    border-radius: 50%;
}

.main-header .row-3 .col-3 .card-header{
    background: #A39F9F;
}