*{

}
:root{
    --primary-color: green;
    --light-primary-color: rgb(14, 231, 14);
    --secondary-color: white;
    --accent-color: brown;
}
.client-sidepanel{
    top: 25px;
    position: fixed;
    background-color:var(--light-primary-color);
    width: 260px;
    margin: 1rem;

    height: 90%;
    border-radius: 10px;
    /* display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; */
    left: 0px; /* Move off-screen by default */
    transition: left 1s ease-in-out;
}
.client-sidepanel div{
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
    background-color: var(--primary-color);
    border-radius: 0 0 10px 10px;
    
}
.client-sidepanel div h3{
    color: var(--secondary-color);
}
.client-sidepanel div h3 span{
    color: var(--light-primary-color);
}
.client-sidepanel div i{
    font-size: 1.5rem;
}
.input{

}
.input:checked ~ .client-sidepanel{
    left: -350px;
}


.client-sidepanel figure{
    margin: .5rem;
    text-align: center;
}
.client-sidepanel figure img{
    border: 3px solid white;
}
.client-sidepanel figure h1{
    text-align: center;
    margin: .5rem;
    font-size: 2rem;
    letter-spacing: 5px;
    -webkit-text-stroke: 2px var(--accent-color); /* WebKit browsers like Chrome and Safari */
    color: transparent;
}
.sidepanel-component{
    min-height: 250px;
    background-color: var(--secondary-color);
    border-radius: 0 0 10px 10px;
}
.sidepanel-component li{
    list-style: none;
    width: 100%;
    padding: .4rem 0;
    text-align: center;
    display: block;
}
.sidepanel-component li span{
    color: var(--primary-color);
}
.sidepanel-component li  i:not(.review i){
    margin: 0;
    font-size: 1.5rem;
    padding: .5rem;
    background-color: '';
}
.review i{
    margin: 0;
    padding: 5px;
}
.sidepanel-component li:nth-child(odd){
    background-color: var(--accent-color);
    width: 100%;
    margin: 0;
}
/* .sidepanel-component li  i:hover {
    display: none;
}
.sidepanel-component li span{
display: none;
}
.sidepanel-component li:hover + .side-panel-component{

} */
#side_panel-list{
    text-decoration: none;
}
.sidepanel-component h4{
    text-align: center;
    position: relative;
    border-radius:  0 0 10px 10px;
    top: 4px;
    padding: 1rem;
    background-color: var(--accent-color);
}
.sidepanel-component h4 i{
    color: var(--light-primary-color);
    font-size: 1.5rem;
}
.logout{
    display: none;
}
.sidepanel-component h4:hover .logout {
    display: block;
    padding: 1rem;
    background-color: white;
    position: absolute;
    top: 5px;
    left: 160px;
    border-radius: 5px;
  }
.sidepanel-component h4 span{
    display: none;
}


@media screen and (min-width:300px)  and (max-width:500px){
    
}


@media screen and (min-width:501px)  and (max-width:750px){
    
}


@media screen and (min-width:1000px)  and (max-width:1200px){
   .client-sidepanel{
    margin: .5rem;
    z-index: 99;
   }
}


@media screen and (min-width:300px)  and (max-width:500px){
    
}