.bookmark-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
}
.bookmark{
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 0 0 10px 10px;
    box-shadow: 1px 1px 10px rgb(30, 255, 0);
}
.bookmark button{
    width: 50%;
    padding: .5rem;
    margin-top: .3rem;
    border: transparent;
}
.bookmark .bookmark-produce{

}
.bookmark .bookmark-produce div{
    display: flex;
    justify-content: space-between;
    margin: 0 0.5rem;
}
.bookmark .bookmark-produce p{
    padding: .5rem;
}
.bookmark .bookmark-produce ul{
    display: flex;
    padding: .5rem;
    justify-content: space-between;
}
i{
    margin-right: 10px;
}

@media screen and (min-width:300px) and (max-width:500px) {
    .bookmark-grid{
        grid-template-columns: 1fr;
        left: 0;
        row-gap: 20px;
    }
}
@media screen and (min-width:300px) and (max-width:750px) {
    
}

@media screen and (min-width:501px)  and (max-width:750px){
    .bookmark-grid{
        grid-template-columns: 1fr 1fr;
        left: 0;
        row-gap: 20px;
    }
}


@media screen and (min-width:751px)  and (max-width:1200px){
   
}


@media screen and (min-width:300px)  and (max-width:500px){
    
}
