.review-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    position: relative;
    left: 30px;
}
.review-cards{
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 0 0 10px 10px;
    box-shadow: 1px 1px 10px rgb(30, 255, 0);
}
.review-cards h2{
    word-wrap:break-word;
}
.review-cards h2,
.review-cards p{
    padding: .5rem;
}
.review-cards button{
    width: 100%;
    border: transparent;
    padding: .5rem;
    position: relative;
    border-radius: 0 0 10px 10px;
    background-color: green;
    color: white;
}
.review-cards button:hover,
.review-cards button:focus{
    background-color: brown;
}

@media screen and (min-width:300px)  and (max-width:500px){
    
}
@media screen and (min-width:300px) and (max-width:500px) {
    .review-container{
        grid-template-columns: 1fr;
        left: 0;
        row-gap: 20px;
    }
}
@media screen and (min-width:300px) and (max-width:750px) {
    
}

@media screen and (min-width:501px)  and (max-width:750px){
    .review-container{
        grid-template-columns: 1fr 1fr;
        left: 0;
        row-gap: 20px;
    }
}


@media screen and (min-width:751px)  and (max-width:1200px){
   
}


@media screen and (min-width:300px)  and (max-width:500px){
    
}



/* animation */

