*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.admin_sidepanel{
    display: flex;
    background-color: rgb(10, 247, 69);
    flex-direction: column;
    width: 100%;
    height: calc(94vh - 3rem);
    position: ;
}
.admin_sidepanel main ul{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.admin_sidepanel aside ul{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}